NANDX_IC_VERSION := mt6880

NANDX_SIMULATOR_SUPPORT := n
NANDX_CTP_SUPPORT := n
NANDX_DA_SUPPORT := n
NANDX_PRELOADER_SUPPORT := n
NANDX_LK_SUPPORT := n
NANDX_KERNEL_SUPPORT := y
NANDX_BROM_SUPPORT := n
NANDX_BBT_SUPPORT := y
NANDX_VERIFY_SUPPORT := n

NANDX_NAND_SPI := y
NANDX_NAND_SLC := y
NANDX_NAND_MLC := n
NANDX_NAND_TLC := n
NANDX_NFI_BASE := y
NANDX_NFI_ECC := y
NANDX_NFI_SPI := y
