config MTK_SCDK
	bool "MTK SCD kernel module"
	default n
	help
		SCDK is a MediaTek kernel module for SCD(System Control Daemon) on openwrt platform.
		SCDK provide ATF accessibility for SCD which do system related settings.
