config MTK_SECURE_DATA_PROTECTION
	bool "Mediatek secure data protection support"
	help
		Mediatek Secure Data Protection module can protect data such as password.
		If configures to be y, It can use encrypt/decrypt API to protect data by hw
		in kernel.
		If configures to be n, Other modules cannot use the exported APIs.

config MTK_SECURE_STATUS_QUERY
	bool "Mediatek secure status query support"
	help
		Mediatek Secure Status Query API acquire the status of secure device.
		If configures to be y, You can use query API to acquire status.
		If configures to be n, Other modules cannot use the exported APIs.

